<div class="timeline">
  <div class="timeline__grid">
    <div class="timeline__time-column">
      @for (hourData of hours.slice(0,-1); track hourData.hour) {
        <span class="timeline__time-label">
          {{ hourData.label }}
        </span>
      }
    </div>

    @for (weekDay of weekDays; track 'col_' + weekDay) {
      <div class="timeline__day-column">
        @for (hourData of hours; track hourData.hour) {
          <div class="timeline__day-slot" (click)="onTimeSlotClick(weekDay, hourData)">
            @if (findAppointment(weekDay, hourData.hour)) {
              <app-appointment-card
                [appointment]="findAppointment(weekDay, hourData.hour)"
                (delete)="onDeleteAppointment($event)"
              />
            }
          </div>
        }
      </div>
    }
  </div>
</div>
