<div mat-dialog-title>
  <span>Create an appointment?</span>
</div>

<div mat-dialog-content>
  <mat-form-field class="appointment-dialog__input-label" [appearance]="'outline'">
    <mat-label>Appointment description</mat-label>
    <input matInput [formControl]="formGroup.controls.description" placeholder="Enter description">
  </mat-form-field>

  <p>Date: {{ date | date: 'fullDate' }}</p>

  <p>Time: {{ date | date: 'shortTime' }}</p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  
  <button mat-flat-button (click)="onClose()">Create</button>
</div>