@use '@angular/material' as mat;

:root {
  --app-gray-1: #f0f4f8;
  --app-gray-2: #b0b0b0;
  --app-gray-3: #dddddd;
  --app-blue-1: #0069d9;
  --app-blue-2: #005cbb;

  --app-text-1: #000000;

  --app-bg-light-blue: rgba(0, 92, 187, 0.08);
  --app-bg-blue: rgba(0, 92, 187, 0.4);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 2rem;
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html {
  height: 100%;
}
